# pset 1, question:2, Fish market dataset

In [34]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split

In [35]:
data=pd.read_csv('D4_Fish_Market_Dataset.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Smelt     6.7      9.3      9.8     10.8   1.7388  1.0476
1     Smelt     7.0     10.1     10.6     11.6   1.7284  1.1484
2     Smelt     9.8     11.4     12.0     13.2   2.2044  1.1484
3     Smelt     7.5     10.0     10.5     11.6   1.9720  1.1600
4     Smelt     9.9     11.3     11.8     13.1   2.2139  1.1659
..      ...     ...      ...      ...      ...      ...     ...
154    Pike  1650.0     59.0     63.4     68.0  10.8120  7.4800
155   Perch   900.0     36.5     39.0     41.4  11.1366  7.4934
156   Perch  1000.0     41.1     44.0     46.6  12.4888  7.5958
157   Perch   840.0     32.5     35.0     37.3  11.4884  7.7957
158   Perch  1000.0     40.2     43.5     46.0  12.6040  8.1420

[159 rows x 7 columns]

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [37]:
data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [38]:
data['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

# Encoding Categorical attributes

In [39]:
y = pd.get_dummies(data.Species, prefix='Species')
data['Species_Bream']=y['Species_Bream']
data['Species_Parkki']=y['Species_Parkki']
data['Species_Perch']=y['Species_Perch']
data['Species_Smelt']=y['Species_Smelt']
data['Species_Pike']=y['Species_Pike']
data['Species_Roach']=y['Species_Roach']
data['Species_Whitefish']=y['Species_Whitefish']
data

,Species,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Smelt,Species_Pike,Species_Roach,Species_Whitefish
0,Smelt,6.7,9.3,9.8,10.8,1.7388,1.0476,0,0,0,1,0,0,0
1,Smelt,7.0,10.1,10.6,11.6,1.7284,1.1484,0,0,0,1,0,0,0
2,Smelt,9.8,11.4,12.0,13.2,2.2044,1.1484,0,0,0,1,0,0,0
3,Smelt,7.5,10.0,10.5,11.6,1.9720,1.1600,0,0,0,1,0,0,0
4,Smelt,9.9,11.3,11.8,13.1,2.2139,1.1659,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Pike,1650.0,59.0,63.4,68.0,10.8120,7.4800,0,0,0,0,1,0,0
155,Perch,900.0,36.5,39.0,41.4,11.1366,7.4934,0,0,1,0,0,0,0
156,Perch,1000.0,41.1,44.0,46.6,12.4888,7.5958,0,0,1,0,0,0,0
157,Perch,840.0,32.5,35.0,37.3,11.4884,7.7957,0,0,1,0,0,0,0
158,Perch,1000.0,40.2,43.5,46.0,12.6040,8.1420,0,0,1,0,0,0,0

In [40]:
data.drop(['Species'], axis=1, inplace=True)
data

,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Smelt,Species_Pike,Species_Roach,Species_Whitefish
0,6.7,9.3,9.8,10.8,1.7388,1.0476,0,0,0,1,0,0,0
1,7.0,10.1,10.6,11.6,1.7284,1.1484,0,0,0,1,0,0,0
2,9.8,11.4,12.0,13.2,2.2044,1.1484,0,0,0,1,0,0,0
3,7.5,10.0,10.5,11.6,1.9720,1.1600,0,0,0,1,0,0,0
4,9.9,11.3,11.8,13.1,2.2139,1.1659,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1650.0,59.0,63.4,68.0,10.8120,7.4800,0,0,0,0,1,0,0
155,900.0,36.5,39.0,41.4,11.1366,7.4934,0,0,1,0,0,0,0
156,1000.0,41.1,44.0,46.6,12.4888,7.5958,0,0,1,0,0,0,0
157,840.0,32.5,35.0,37.3,11.4884,7.7957,0,0,1,0,0,0,0
158,1000.0,40.2,43.5,46.0,12.6040,8.1420,0,0,1,0,0,0,0

# Normalizing data

In [41]:
minmax=MinMaxScaler()

cols=list(data.columns)
cols

for i in range(len(cols)):
    data[cols[i]]=pd.DataFrame(minmax.fit_transform(data[[cols[i]]]))

# Displaying min/max value of every column

In [42]:
for i in range(len(cols)):
    print(cols[i], 'Min:', data[cols[i]].min(),'Max:',data[cols[i]].max())

Weight Min: 0.0 Max: 1.0
Length1 Min: 0.0 Max: 1.0
Length2 Min: 0.0 Max: 0.9999999999999999
Length3 Min: 0.0 Max: 0.9999999999999998
Height Min: 0.0 Max: 1.0
Width Min: 0.0 Max: 1.0
Species_Bream Min: 0.0 Max: 1.0
Species_Parkki Min: 0.0 Max: 1.0
Species_Perch Min: 0.0 Max: 1.0
Species_Smelt Min: 0.0 Max: 1.0
Species_Pike Min: 0.0 Max: 1.0
Species_Roach Min: 0.0 Max: 1.0
Species_Whitefish Min: 0.0 Max: 1.0

# writing normalized data to csv file

In [43]:
# data.to_csv('D4_Fish_Market_Dataset_Clean.csv')

In [121]:
data_clean=pd.read_csv('D4_Fish_Market_Dataset_Clean.csv')
data_clean

,Weight,Length1,Length2,Length3,Height,Width,Species_Bream,Species_Parkki,Species_Perch,Species_Smelt,Species_Pike,Species_Roach,Species_Whitefish
0,0.004061,0.034951,0.025455,0.033784,0.000604,0.000000,0,0,0,1,0,0,0
1,0.004242,0.050485,0.040000,0.047297,0.000000,0.014208,0,0,0,1,0,0,0
2,0.005939,0.075728,0.065455,0.074324,0.027628,0.014208,0,0,0,1,0,0,0
3,0.004545,0.048544,0.038182,0.047297,0.014139,0.015843,0,0,0,1,0,0,0
4,0.006000,0.073786,0.061818,0.072635,0.028180,0.016675,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,1.000000,1.000000,1.000000,1.000000,0.527240,0.906687,0,0,0,0,1,0,0
155,0.545455,0.563107,0.556364,0.550676,0.546080,0.908576,0,0,1,0,0,0,0
156,0.606061,0.652427,0.647273,0.638514,0.624566,0.923010,0,0,1,0,0,0,0
157,0.509091,0.485437,0.483636,0.481419,0.566500,0.951187,0,0,1,0,0,0,0
158,0.606061,0.634951,0.638182,0.628378,0.631253,1.000000,0,0,1,0,0,0,0

# Equation for hypothesis

# h(x)=t0 + t1*x1 + t2*x2 + t3*x3 + t4*x4 + t5*x5 + t6*x6 + t7*x7 + t8*x8 + t9*x9 + t10*x10 + t11*x11 + t12*x12

In [130]:
inputs=data_clean.drop(['Weight'], axis=1)
# print(inputs, type(inputs))
X=inputs
Y=data_clean[['Weight']]

r=LinearRegression()
r.fit(X,Y)

print('Intercept: ', r.intercept_)

print('coefficients:', r.coef_)

print('r-score value:', r.score(X,Y))

Intercept:  [-0.27234792]
coefficients: [[-2.50642548e+00  2.66295440e+00  1.16733003e+00  5.48285823e-02
  -2.21619802e-03 -6.38294057e-02  3.60025083e-02  1.97759923e-02
   2.06518057e-01 -1.90150231e-01 -1.38094962e-03 -6.93597203e-03]]
r-score value: 0.93608490207319